body {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
    body a {
        text-decoration: none;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
    }
    header h1 {
        font-family: 'Roboto', serif;
        letter-spacing: 1px;
    }
	nav li:hover {
		-webkit-transition: all .25s linear;
        transition: all .25s linear;
	}
    #history .dates {
        font-style: italic;
    }
    #skills ul > li {
        -webkit-transition: all .25s linear;
        transition: all .25s linear;    
    }
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}
h1, h2, h3 {
    font-family: 'Droid Serif', serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}
p.subheading {
    font-size: .8em;
    text-transform: uppercase;
}
blockquote p {
    font-style: italic;
}
code {
    word-wrap: break-word;
}

.social-icon a {
    font-weight: bold;
    text-decoration: none;
}
.align-center {
    text-align: center;
}